*{
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --titles-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

h1 {
  font-family: "Montserrat";
  font-weight: var(--titles-weight);
}

body{
  font-family: "Montserrat";
  color: var(--text-primary-color);
}

section{
  width: 312px;
  margin: 88px auto;
}

section.hero{
  width: 100%;
  margin: 0;
}

.section-title h2{

  width: 260px;
  font-weight: var(--titles-weight);
  font-size: 28px ;
  margin: 0px auto;
  text-align: center;

}

.section-title hr{
  height: 4px;
  width: 180px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px auto 32px;
}

.button{ 
    display: inline-block;
    color: var(--text-secondary-color);
    font-weight: var(--titles-weight);
    font-size: 20px;
    text-decoration: none;
    background-color: var(--secondary-color);
    border-radius: 8px;
    line-height: 64px;
    min-width: 280px;
    height: 64px;
}

@media screen and (min-width: 768px) {

    section{
    width: 648px;
  }

  .section-title h2{
    width: 100%;
    font-size: 32px ;
  }

  
}

@media screen and (min-width: 1024px) {

     section{
    width: 900px;
  }
    section.destinations{
      width: 1024px;
    }

  .button:hover{
    background-color: var(--primary-color);
  }
  
  
}

@media screen and (min-width: 1440px) {
    section{
      width: 1200px;
    }

    section.offers{
      width: 1440px;
    }
    
    section.destinations{
      width: 1440px;
    }

    section.categories{
      width: 1440px;
    }
}


