.hero-img{
    height: 400px;
    width: 100%;
    background: url(../Img/hero-mobile.jpg) no-repeat;
    background-size: cover;
}

.hero-japao{
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

.hero-japao .hero-img-blog{
    height: 400px;
    width: 100%;
    background: url(../Img/hero-blog-mobile-tablet.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 88px;
    color: var( --text-secondary-color);
    background-position: center;
}

.hero-japao .hero-img-japao{
    height: 400px;
    width: 100%;
    background: url(../Img/hero-japao-mobile-tablet.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 88px;
    color: var( --text-secondary-color);
    background-position: center;
}
.hero-japao .hero-img-contato{
    height: 400px;
    width: 100%;
    background: url(../Img/hero-contato.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 88px;
    color: var( --text-secondary-color);
    background-position: center;
}

.hero-japao .hero-footer-img-contato{
     height: 400px;
    width: 100%;
    background: url(../Img/hero-footer-contato.jpg) no-repeat;
    background-size: cover;
}

.hero-japao .section-title{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin: 24px 60px;
}
.hero-japao .section-title hr{
    margin: auto 16px 24px 16px;
}

.hero-japao .section-title .content-title{
    font-size: 48px;
    max-width: 580px;
    line-height: 150%;
    text-align: start;
}

.hero-japao .section-title .content-text{
    font-size: 20px;
    font-weight: var(--text-weight);
    max-width: 580px;
    line-height: 150%;
    text-align: start;
    margin: 0px;
}

.hero-footer-img-japao{
    height: 400px;
    width: 100%;
    background: url(../Img/hero-footer-japao.jpg) no-repeat;
    background-size: cover;
    background-position: center;

}

.hero-footer-img{
    height: 400px;
    width: 100%;
    background: url(../Img/hero-footer-mobile.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.hero h2{
    padding: 88px 24px 0 24px;
    margin: 0px;
    font-weight: var(--text-weight);
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
}

@media screen and (min-width: 768px) {
    .hero-img{
    height: 620px;
    width: 100%;
    background: url(../Img/hero-tablet.jpg) no-repeat;
    background-size: cover;
    }  

    .hero-japao .hero-img-japao{
    height: 600px;
    }

    .hero-japao .hero-img-blog{
    height: 600px;
    }

    .hero-japao .hero-img-contato{
    height: 600px;
    }

    .hero-japao .section-title{
        margin: auto 120px;
    }

    .hero-japao .section-title .content-text{
        font-size: 32px;
    }
    

    .hero-footer-img{
    width: 100%;
    background: url(../Img/hero-footer-tablet.jpg) no-repeat;
    background-size: cover;
    }

     .hero-japao .hero-footer-img-contato{
        height: 600px;
    }

    .hero-japao .hero-img-japao{
    height: 600px;
    width: 100%;
    background: url(../Img/hero-japao-mobile-tablet.jpg) no-repeat;
    background-size: cover;
    }

    .hero h2{
    padding: 88px 60px;
    font-size: 32px;
}

}

@media screen and (min-width: 1024px) {
    .hero-img{
    width: 100%;
    background: url(../Img/hero-desktop.jpg) no-repeat;
    background-size: cover;
    }  

    .hero-japao .hero-img-japao{
    height: 600px;
    width: 100%;
    background: url(../Img/hero-japao-desktop.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    }
    
    .hero-japao .hero-img-blog{
    height: 600px;
    width: 100%;
    background: url(../Img/hero-blog-desktop.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    }

    .hero-footer-img{
    height: 600px;
    width: 100%;
    background: url(../Img/hero-footer-desktop.jpg) no-repeat;
    background-size: cover;
     background-position: center;
    }

    .hero-footer-img-japao{
        height: 600px;
         width: 100%;
        background: url(../Img/hero-footer-japao-desktop.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .hero h2{
    padding: 104px 120px;
    font-size: 32px;
    }
    
}

@media screen and (min-width: 1920px) {
    .hero h2 {
    padding: 104px 160px;
    font-size: 32px;
    }

}