.hero-img{
    height: 400px;
    width: 100%;
    background: url(../Img/hero-mobile.jpg) no-repeat;
    background-size: cover;
}

@media screen and (min-width: 768px) {
    .hero-img{
    height: 620px;
    width: 100%;
    background: url(../Img/hero-tablet.jpg) no-repeat;
    background-size: cover;
}  
}

@media screen and (min-width: 1024px) {
    .hero-img{
    width: 100%;
    background: url(../Img/hero-desktop.jpg) no-repeat;
    background-size: cover;
}  
    
}