.testimonials-container{
    display: flex;
    flex-direction: column;
    gap: 32px;
} 

.testimonials-container article header p{
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 8px;
}


.testimonials-container article footer{
    display: flex;
    gap: 24px;
    align-items: center;
}

.testimonials-container article footer img{
    width: 86px;
    height: 86px;
}

.testimonials-container article footer h4{
    font-size: 20px;
    line-height: 32px;
    font-weight: var(--titles-weight);
    margin: 0px 0px 8px 0px; 
}

.testimonials-container article footer .profile-content .rating .star{
    font-size: 32px;
    color: var(--secondary-color);
    line-height: 32px;
    
}

@media screen and (min-width: 1440px) {

    .testimonials-container{
        flex-direction: row;
        height: auto;
        width: 1440px;
        gap: 32px;
        
    }
}